.myButton {
  font-weight: bold;
  background-color: #2d9a1c;
  border-color: rgb(110, 209, 110);
  transition: all 0.2s ease;
}

.myButton:hover {
  background-color: #2ea01f;
  transform: scale(1.05);
}

.myButton:active {
  background-color: #2ea01f !important;
  transform: scale(0.98);
}

.dailyButton {
    transition: all 0.2s ease;
}

.dailyButton:hover {
  transform: scale(1.05);
}